<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hello {{ user.username }}</title>
</head>
<body>
  <div>
    username: {{ user.username }}
  </div>
  <div>
    email: {{ user.email }}
  </div>
</body>
</html>